@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');


body {
    background: linear-gradient(135deg, #172a74, #21a9af);
}

h1.chart-title {
    font-family: Poppins;
    text-align: center;
    padding: 30px;

}


subtitle {
    font-family: Nista;
    font-size: larger;
    color: #97e541;
    align-items: center;
    justify-content: center;
}

Text.text-chart {
    color: #abab9e;
    font-family: Noto Sans;
    font-weight: bold;

}

.custom-tooltip {
    background-color: #172a74;
    background-position: center;
    padding: 5px;
}


.recharts-wrapper {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



